<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <script src="../static/js/admin.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UDinder/Admin</title>
</head>
<body>
    
    <a href="index.html" class="boton">Back to main</a>
    <div>
        
        <button onclick="showUsers()">Get Users</button>
        <button onclick="getUserInfo()">Get User</button>
        
    </div>
    
    <div id="result"></div>
</body>
</html>
