<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    <script src="../static/js/home.js"></script>
    <script src="../static/js/index.js"></script>
    <style>
          
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UDinder</title>
</head>
<body>
        <button onclick="logoutUser()">Logout</button>
        
    </div>
    <div id="result"></div>
</body>
</html>
