<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    <script src="../static/js/home.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UDinder</title>
</head>
<body>
    <header><img src="../public/logo.png" alt="Logo de la aplicación" class="udinder-logo"></header>
    <div class="background"></div>
    <div class="container">
    <main>
        <div id="profile-container">
            <!-- User profiles will be dynamically loaded here -->
            <label for="userId">User ID:</label>
            <input type="text" id="userId">
            <button onclick="showUserPhoto()">Show Photo</button>
            
            <div id="photoContainer">
                <!-- The user's photo will be shown here -->
                <img id="userPhoto" src="" alt="User Photo">
            </div>
        </div>
        
        
        <button onclick="goMatches()">Matches</button>
        <button onclick="goprofilesetup()">Profile Set up</button>
        <button onclick="closeWindow()">Exit</button>
        <button onclick="goSettings()">Settings</button>

    </main>
    </div>
    <div id="result"></div>
</body>
</html>


    </main>
    </div>
    <div id="result"></div>
</body>
</html>

        
    
