<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    <script src="../static/js/home.js"></script>
    <style>
          
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UDinder</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <!-- Aquí puedes incluir el encabezado de tu aplicación -->
    </header>

    <main>
        <div id="profile-container">
            <!-- Aquí se cargarán dinámicamente los perfiles de los usuarios -->
            <div class="profile-card" id="profile-card">
                <img src="images/user1.jpg" alt="User 1">
                <div class="profile-info">
                    <h2>Nombre del Usuario</h2>
                    <p>Edad</p>
                </div>
            </div>
        </div>
        <button onclick="logoutUser()">Logout</button>
    </main>
</body>
</html>

        
        
    
