<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <script src="../static/js/functions.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register User</title>
</head>
<body>
    <h1>UDinder</h1>
    <p>Click on the buttons to explore services</p>
    <div>
        <button onclick="callMessage()">Get Message</button>
        <button onclick="showUsers()">Get Users</button>
        
    </div>
    <div id="result"></div>
</body>
</html>
