<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    <script src="../static/js/login.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UDinder</title>
</head>
<body onload="createLoginForm()">
    <div class="background"></div>
    <div class="container">
        <img src="../public/logo.png" alt="Logo de la aplicación" class="udinder-logo">
        <h1 class="udinder-title">UDinder</h1>
        
    <div id="result"></div>
</body>
</html>
