<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">

    <script src="../static/js/profile.js"></script>
    <style>
          
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UDinder</title>
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <img src="../public/logo.png" alt="Logo de la aplicación" class="udinder-logo">
        <h1 class="udinder-title">Profile setup</h1>
        <div class="buttons-container">
            <button onclick="uploadPhoto()">Upload photo</button>
            <button onclick="addDescription()">Add description</button>
            <button onclick="setInterest()">Set interests</button>
            

        </div>
        <div class="buttons-container">
            <button onclick="goToMatches()">Go to match</button>
        </div>
        <div class="buttons-container">
            <button onclick="logOut()">Log out</button>
        </div>
    </div>
    <div id="result"></div>
</body>
</html>
