<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <script src="../static/js/sing_in.js"></script>
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <img src="../public/logo.png" alt="Logo de la aplicación" class="udinder-logo">
        <h1 class="udinder-title">UDinder</h1>
        <div id="login-form"></div> <!-- Contenedor para el formulario de inicio de sesión -->
        <div class="buttons-container">
            <button onclick="login()">Login</button>
            <button onclick="goSing_up()">Sing up</button>
            <button onclick="goHome()">Home</button>
        </div>
    </div>
    <div id="result"></div>
</body>
</html>
