<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <script src="../static/js/user.js"></script>
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UDinder</title>    

</head>


<body>
    <div class="background"></div>
    <div class="container">
        <img src="../public/logo.png" alt="Logo de la aplicación" class="udinder-logo">
         <h1 class="udinder-title">UDinder</h1> 
         <div class="buttons-container">
            <button onclick="goSing_in()">Log in</button>
            <button onclick="goSing_up()">Sing up</button>
            <button onclick="goHome()">Home</button> 
    
        </div>             
    </div>
    <div id="result"></div>
</body>
</html>
